# FIXME: temporal
/configure
 
# autoconf/autotools
Makefile.in
aclocal.m4
config.guess
config.status
Makefile.in
autom4te.cache
autom4te.cache/*
ltmain.sh
config.log
.dirstamp
config.h.in~
stamp-h1
compile
missing
install-sh
depcomp
mkinstalldirs
config.h.in
config.h
config.sub
 
# executable
*.a
*.o
*.lo
*.exe
 
# libtool
.deps
.libs
*.la
 
# mosh
mosh_config
/config.h
/Makefile
/doc/text/Download.txt
/mosh
/nmosh
/lib/mosh/config.ss
/lib/mosh/mysql.ss
Instruction.h
NumberScanner.cpp
Scanner.cpp
src/all-tests.scm
compiler-vm-cpp.scm
compiler-vm.scm
compiler-with-library.h
compiler-with-library.scm
*.scmc
*.fasl
labels.cpp
libffitest.so.1.0
pmatch.h
psyntax.h
cprocedures.cpp

# mosh bootstrap
boot/baselib.h
boot/baselib.scm
boot/free-vars-decl.scm
boot/match.h
boot/*.scmc
boot/*.scmc-e
boot/psyntax_mosh_image.cpp
boot/runtimes/psyntax-mosh/psyntax.scm
 
# mosh(re2c)
*.tab.cpp
*.tab.hpp
 
# lib
 
# editor temporals
*.swp
 
# core files
*.core
*.stackdump

# OS specific
.DS_Store

lib/psyntax/psyntax.master/
src/OSConstants.h
src/Object-accessors.h
src/free-vars-decl.scm
src/baselib.h
src/match.h
src/nmosh_image.cpp
src/psyntax_mosh_image.cpp
test/test.txt.temp
test/utf16.txt.temp
test_compat
test_fasl
test_ffi
test_getopt
test_object
test_port
test_thread
test_vm

*.html
doc/config/Menu_Backup.txt
doc/config/Data
doc/html/files/
doc/html/index.html
doc/html/index/
doc/html/javascript/
doc/html/search/
doc/html/styles/
doc/text/arith.tex.txt
doc/text/base.tex.txt
doc/text/bytevector.tex.txt
doc/text/control.tex.txt
doc/text/convio.tex.txt
doc/text/enum.tex.txt
doc/text/eval.tex.txt
doc/text/exc.tex.txt
doc/text/files.tex.txt
doc/text/hashtable.tex.txt
doc/text/iocond.tex.txt
doc/text/list.tex.txt
doc/text/portio.tex.txt
doc/text/programlib.tex.txt
doc/text/r5rscompat.tex.txt
doc/text/records.tex.txt
doc/text/setcar.tex.txt
doc/text/sort.tex.txt
doc/text/stringset.tex.txt
doc/text/syntax-case.tex.txt
*.tar.gz
nul
GPATH
GRTAGS
GSYMS
GTAGS
work.scm

# autotools
automake/corelibs.mk
automake/dist-git-revision.mk

# test
nmosh-cache
/cache
rbtree.dot

# nmosh
# generated libraries from misc/scripts/gen-nmosh-stubs.sps
lib/nmosh/stubs/*

# nmosh (deprecated)
lib/nmosh/boot/*

# msvc things
Debug/*
Release/*
/win/*/Debug/*
/win/*/Release/*
/win/mpir/*
*.vcproj.*.user
*.pdb
*.ilk
*.ncb
*.exp
*.suo
*.aps
/mosh.lib
/moshd.lib
