/* Compact size SchemeDoc CSS stylesheet */ 
/* Fontsize */
H1.manual-title {font-size: 160%}
SPAN.manual-author-element {font-size: 90%;}
SPAN.manual-affiliation-element {font-size: 90%;}
TD.manual-plain-title  {font-size: 105%}
TD.manual-plain-entry-kind  {font-size: 90%}
SPAN.manual-kind-explanation {font-size: 9px}
TD.manual-plain-form  {font-size: 75%}
TD.manual-plain-condition  {font-size: 85%}
TD.manual-plain-description  {font-size: 85%}
TD.manual-plain-parameter-name  {font-size: 75%}
TD.manual-plain-parameter-description  {font-size: 85%}
TD.manual-plain-attribute-name  {font-size: 75%}
TD.manual-plain-attribute-type  {font-size: 85%}
TD.manual-plain-attribute-description  {font-size: 85%}
TD.manual-plain-parameter-description  {font-size: 85%}
TD.manual-plain-example  {font-size: 75%}
TD.manual-plain-reference-role  {font-size: 85%}
TD.manual-plain-reference-anchor{font-size: 85%}
TD.manual-plain-comment{font-size: 85%}
TD.manual-plain-misc{font-size: 85%}
TD.manual-plain-custom{font-size: 85%}
TD.manual-plain-returns{font-size: 85%}

TD.manual-header-title{font-size: 80%}
TD.manual-header-form{font-size: 75%;}
TD.manual-header-description{font-size: 80%}
DIV.manual-source-file-description{font-size: 85%}

DIV.manual-abstract{font-size: 85%}

SPAN.manual-section-number {font-size: 140%}
SPAN.manual-section-title {font-size: 140%}
TD.manual-section-description{font-size: 85%}

/* Layout */

TD.manual-plain-entry-kind {width: 20%}
TD.manual-plain-parameter-name {width: 20%}
TD.manual-plain-reference-role {width: 16%}
TD.manual-plain-attribute-name {width: 16%}
TD.manual-plain-attribute-type {width: 16%}

TD.manual-header-title{width: 20%}
TD.manual-header-form{width: 40%}
TD.manual-header-description{width: 40%}


HR.manual-plain-end-of-entry 
  {
    margin-top: -50px;
    margin-bottom: -50px;
  }