name: Build

on:
  push:
  pull_request:

jobs:
  build-linux:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 90
    env:
      LD_LIBRARY_PATH: /usr/local/lib
      ONIGURUMA_PATH: onig-5.9.6
      STABLE_MOSH_PATH: mosh-0.2.8-rc3
    steps:
      - name: Install tools
        run: |
          sudo apt install -y gauche wget make libgmp-dev autoconf automake
          sudo apt install -y re2c bison subversion git
      - name: Before cache
        run: |
          sudo apt install -y gauche wget make libgmp-dev autoconf automake
      - name: Cache Oniguruma
        id: cache-oniguruma-linux
        uses: actions/cache@v3
        with:
          path: $ONIGURUMA_PATH
          key: ${{ matrix.os }}-oniguruma
      - name: Debug2
        run: |
          pwd
          ls
      - name: Build Oniguruma
        if: steps.cache-oniguruma-linux.outputs.cache-hit != 'true'
        run: |
          wget https://github.com/kkos/oniguruma/releases/download/v5.9.6/onig-5.9.6.tar.gz
          tar zvxf onig-5.9.6.tar.gz
          cd $ONIGURUMA_PATH && \
          rm config.sub && \
          rm config.guess && \
          wget http://savannah.gnu.org/cgi-bin/viewcvs/*checkout*/config/config/config.guess && \
          wget http://savannah.gnu.org/cgi-bin/viewcvs/*checkout*/config/config/config.sub && \
          ./configure && \
          make
      - name: Debug3
        run: |
          pwd
          ls
      - name: Install Oniguruma
        run: |
          cd $ONIGURUMA_PATH && \
          sudo make install
      - name: Cache Stable Mosh
        id: cache-stable-mosh-linux
        uses: actions/cache@v3
        with:
          path: $STABLE_MOSH_PATH
          key: ${{ matrix.os }}-$STABLE_MOSH_PATH
      - name: Build Stable Mosh
        if: steps.cache-stable-mosh-linux.outputs.cache-hit != 'true'
        run: |
          wget https://github.com/higepon/mosh/releases/download/mosh-0.2.8-rc3/mosh-0.2.8-rc3.tar.gz
          tar zvxf mosh-0.2.8-rc3.tar.gz
          cd $STABLE_MOSH_PATH && \
          ./configure && \
          make && \
          make test
      - name: Install Stable Mosh
        run: |
          cd $STABLE_MOSH_PATH && \
          sudo make install
      - uses: actions/checkout@v3
        with:
          path: mosh-latest
      - name: Build and test the latest changes.
        run: |
          cd ${{ github.workspace }}/mosh-latest && \
          ./gen-git-build.sh && \
          ./configure && \
          make && \
          make test && \
          sudo make install
      - name: Debug
        run: |
          pwd
          ls


  build-macos:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, macos-12]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 90
    steps:
      - name: Instlall tools
        run: |
          brew install gmp oniguruma automake re2c bison subversion gauche
          # Use homebrew bison instead of /usr/bin/bison
          echo "/usr/local/opt/bison/bin" >> $GITHUB_PATH
          # FIXME: Detect gnump with pkg-config
          echo "LDFLAGS=-L$HOMEBREW_PREFIX/lib" >> $GITHUB_ENV
          echo "CFLAGS=-I$HOMEBREW_PREFIX/include" >> $GITHUB_ENV
          echo "CXXFLAGS=-I$HOMEBREW_PREFIX/include" >> $GITHUB_ENV
          echo "STABLE_MOSH_PATH=mosh-0.2.8-rc3" >> $GITHUB_ENV
          # FIXME: Disable GC during CI for now
          echo "GC_DONT_GC=1" >> $GITHUB_ENV
      - name: Cache Stable Mosh
        id: cache-stable-mosh-macos
        uses: actions/cache@v3
        with:
          path: $STABLE_MOSH_PATH
          key: ${{ matrix.os }}-$STABLE_MOSH_PATH
      - name: Build Stable Mosh
        if: steps.cache-stable-mosh-macos.outputs.cache-hit != 'true'
        run: |
          curl -OL https://github.com/higepon/mosh/releases/download/mosh-0.2.8-rc3/mosh-0.2.8-rc3.tar.gz
          tar zvxf mosh-0.2.8-rc3.tar.gz
          cd $STABLE_MOSH_PATH && \
          ./configure && \
          make && \
          make test
      - name: Install Stable Mosh
        run: |
          cd $STABLE_MOSH_PATH && \
          sudo make install
      - uses: actions/checkout@v3
        with:
          path: mosh-latest
      - name: Build and test the latest changes.
        run: |
          cd ${{ github.workspace }}/mosh-latest && \
          ./gen-git-build.sh && \
          ./configure && \
          make && \
          make test && \
          sudo make install
