/* Normal size SchemeDoc CSS stylesheet */ 
/* Fontsize */
H1.manual-title {font-size: 160%}
SPAN.manual-author-element {font-size: 90%;}
SPAN.manual-affiliation-element {font-size: 90%;}
TD.manual-plain-title  {font-size: 105%}
TD.manual-plain-entry-kind  {font-size: 90%}
SPAN.manual-kind-explanation {font-size: 9px}
TD.manual-plain-form  {font-size: 75%}
TD.manual-plain-condition  {font-size: 85%}
TD.manual-plain-description  {font-size: 85%}
TD.manual-plain-parameter-name  {font-size: 75%}
TD.manual-plain-parameter-description  {font-size: 85%}
TD.manual-plain-attribute-name  {font-size: 75%}
TD.manual-plain-attribute-type  {font-size: 85%}
TD.manual-plain-xml-content-model{font-size: 85%}
TD.manual-plain-attribute-description  {font-size: 85%}
TD.manual-plain-parameter-description  {font-size: 85%}
TD.manual-plain-example  {font-size: 75%}
TD.manual-plain-reference-role  {font-size: 85%}
TD.manual-plain-reference-anchor{font-size: 85%}
TD.manual-plain-comment{font-size: 85%}
TD.manual-plain-misc{font-size: 85%}
TD.manual-plain-custom{font-size: 85%}
TD.manual-plain-returns{font-size: 85%}

TD.manual-header-title{font-size: 80%}
TD.manual-header-form{font-size: 75%;}
TD.manual-header-description{font-size: 80%}
DIV.manual-source-file-description{font-size: 85%}
DIV.manual-end-remark{font-size: 75%}

DIV.manual-abstract{font-size: 85%}

SPAN.manual-section-number {font-size: 140%}
SPAN.manual-section-title {font-size: 140%}
TD.manual-section-description{font-size: 85%}

/* Layout */

TD.manual-plain-entry-kind {width: 20%}
TD.manual-plain-parameter-name {width: 20%}
TD.manual-plain-reference-role {width: 16%}
TD.manual-plain-attribute-name {width: 16%}
TD.manual-plain-attribute-type {width: 16%}

TD.manual-header-title{width: 20%}
TD.manual-header-form{width: 40%}
TD.manual-header-description{width: 40%}


HR.manual-plain-end-of-entry 
  {
  }



/* Argentina SchemeDoc CSS stylesheet */ 

BODY.manual-body
 {
   background: rgb(255,255,255); 
   font-family: "arial";
 }

H1.manual-title 
 {
   color: rgb(70,70,255);
   font-weight: bold;
 }

SPAN.manual-author-element
  {
   padding-right: 0.7cm;
   color: rgb(70,70,255);
  }

SPAN.manual-affiliation-element
  {
   padding-right: 0.0cm;
   color: rgb(70,70,255);
  }

TABLE.manual-table 
 {
   margin-bottom: 40px;
 }

TABLE.manual-table TD
 {
   vertical-align: top;
   padding-bottom: 6px;

  /*
   border-style: solid;
   border-width: 2px;
   border-color: rgb(255,255,155); 
  */
 }

TR.manual-plain-end-of-entry
  {
  }


TD.manual-plain-end-of-entry
  {
  }

HR.manual-plain-end-of-entry 
  {
   visibility: hidden;
  }


SPAN.manual-top-banner-when-generated
  {
    font-style: italic;
  }

SPAN.manual-top-banner-is-schemedoc
  {
    font-style: italic;
  }	

DIV.manual-source-file-description
  {
    color: rgb(110,110,110);
  }	

DIV.manual-table-of-contents-header
  {
    font-style: italic;
  }	

DIV.manual-alphabetic-index-header
  {
    font-style: italic;
  }	


TD.manual-plain-entry-kind
 {
   color: rgb(110,110,110);
   font-weight: 600;
   padding-left: 0.8cm;
 }

SPAN.manual-kind-explanation
 {
   color: black;
   font-weight: 100;
 }

TD.manual-plain-title  
 {
   color:  rgb(0,0,0);
   font-weight: bold;
   font-family: Courier;
 }

TD.manual-plain-title-level-2 
 {
   color:  rgb(0,0,0);
   font-weight: bold;
   font-family: Courier;
   margin-top: 40px;
   padding-left: 20px;
 }

SPAN.manual-section-title-level-2
  {
    color:  rgb(0,0,0);
    font-weight: bold;
    font-variant: small-caps;
    padding-left: 20px;
  }  

TD.manual-plain-form
 {
   color: rgb(50,50,50);
   font-family: Courier;
   font-weight: bold;
   background: rgb(235,235,255);
 }

TD.manual-plain-condition
 {
   color: rgb(50,50,50);
   background: rgb(235,235,255);
 }

TD.manual-plain-description
 {
   color: rgb(50,50,50);
   /* font-style: italic; */
   background: rgb(235,235,255);
 }

TD.manual-plain-parameter-name
 {
   color: rgb(70,70,70);
   font-family: Courier;
   font-weight: bold;
   background: rgb(235,235,255);

 }

TD.manual-plain-parameter-description
 {
   color: rgb(50,50,50);
   background: rgb(235,235,255);

 }

TD.manual-plain-attribute-name 
 {
   color: rgb(50,50,50);
   font-family: Courier;
   background: rgb(235,235,255);
 }

TD.manual-plain-attribute-type
 {
   color: rgb(50,50,50);
   background: rgb(235,235,255);
 }

TD.manual-plain-attribute-description
 {
   color: rgb(50,50,50);
   background: rgb(235,235,255); 
 }

TD.manual-plain-xml-content-model
 {
   color: rgb(50,50,50);
   background: rgb(235,235,255);
 }


TD.manual-plain-example
 {
   color: rgb(70,0,140);
   font-family: Courier;
   background: rgb(235,235,255); 
 }

TD.manual-plain-reference-role
 {
   color: rgb(50,50,50);
   background: rgb(235,235,255);
 }

TD.manual-plain-reference-anchor
 {
   color: rgb(50,50,50);
   background: rgb(235,235,255); 
 }


TD.manual-plain-comment
 {
   color: rgb(50,50,50);
   background: rgb(235,235,255);
 }

TD.manual-plain-misc
 {
   color: rgb(50,50,50);
   background: rgb(235,235,255);
   /* font-style: italic; */
 }

TD.manual-plain-custom
 {
   color: rgb(50,50,50);
   background: rgb(235,235,255);
 }


TD.manual-plain-returns
 {
   color: rgb(50,50,50);
   /* font-style: italic; */
   background: rgb(235,235,255);
 }

A.manual-plain-internal-reference
 {

 }



TABLE.manual-alphabetic-index
 {
   border-style: solid;
   border-width: 1px;
   border-color: rgb(204,204,255);
 }

TD.manual-header-title
  {
    background: rgb(255,255,255);
    border-color: rgb(204,204,255); 
    border-style: solid;
  }

TD.manual-header-form
  {
    font-family: Courier;
    background: rgb(255,255,255);
    border-color: rgb(204,204,255); 
    border-style: solid;
  }

TD.manual-header-description
  {
    font-style: normal;
    background: rgb(255,255,255);
    border-color: rgb(204,204,255); 
    border-style: solid;
  }


DIV.manual-abstract
  {
    margin-left: 10px;
    background: rgb(204,204,255);
  }


TD.manual-section 
  {
    background: rgb(204,204,255);
    border-color: rgb(204,204,255);
    border: 0;
  }

TD.manual-section-level-2
  {
    background: rgb(204,204,255);
    border-color: rgb(204,204,255);
    border: 0;
  }

SPAN.manual-section-number 
  {
    width: 1.0cm;
    color:  rgb(0,0,0);
    font-weight: 800;
    padding-right: 0.4cm;
  }

SPAN.manual-section-title
  {
    color:  rgb(0,0,0);
    font-weight: 800;
    font-variant: small-caps;
  }  

TD.manual-section-description
  {
   background: rgb(255,255,255); 
   color:  rgb(0,0,0),
   border: 0;
   border-color: rgb(204,204,255);
  }


A:link 
 {
   text-decoration: underline; 
   color: rgb(50,50,50);
 }

A:visited 
 {
   text-decoration: underline; 
   color: black;
 }

A:active 
 {
   text-decoration: underline; 
   color: black;
 }

A:hover
 {
   text-decoration: underline;
   /* background: rgb(255,255,100); */
   background: rgb(192,192,192);
 }



